<div class="container">

  <p>
    List of development task for this project.
  </p>

  <div class="row">

    <div class="col-sm-3">
        <h5>General</h5>
        <ul>
          <li>Fontawseome icons</li>
        </ul>

    </div>

    <div class="col-sm-3">
        <h5>Sidebar</h5>

        <ul>
          <li><del>Split sidebar layout into html, scss and ts files</del></li>
          <li><del>Get sidebar menu toggle button working</del></li>
          <li>Implement a sidebar component</li>
          <li>Implement menu items</li>
          <li>Sidebar into own module</li>
        </ul>
    </div>

    <div class="col-sm-3">
        <h5>Components</h5>
        <ul>
          <li>Map Bootstrap to ng-bootstrap</li>
          <li>Navbar dropdown</li>
        </ul>
        <h5>Additions</h5>
        <ul>
          <li>Floating plus</li>
        </ul>
    </div>

    <div class="col-sm-3">
        <h5>Angular</h5>

        <ul>
          <li>Use of modules</li>
        </ul>
    </div>


  </div>
</div>
