<h1>
  <i class="icon far fa-window-close"></i>
  <i class="icon fas fa-bars"></i>
  Bootstrap Components
</h1>
<p>
  Comparision of components in Bootstrap and ng-bootstrap.
</p>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Bootstrap</th>
      <th>ng-bootstrap</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Accordion</td>
      <td>No equivalent component in BS. Functionality can be created multiple Collapse components.</td>
    </tr>
    <tr>
      <td>Alerts</td>
      <td>Alert</td>
      <td></td>
    </tr>
    <tr>
      <td>Badge</td>
      <td></td>
      <td>Pure CSS and are available in Angular</td>
    </tr>
    <tr>
      <td>Breadcrumb</td>
      <td></td>
      <td>Pure CSS and are available in Angular</td>
    </tr>
    <tr>
      <td>Buttons</td>
      <td>Buttons</td>
      <td></td>
    </tr>
    <tr>
      <td>Button group</td>
      <td></td>
      <td>Included in Buttons in ng-bootstrap</td>
    </tr>
    <tr>
      <td>Card</td>
      <td></td>
      <td>Pure CSS and are available in Angular</td>
    </tr>
    <tr>
      <td>Carousel</td>
      <td>Carousel</td>
      <td></td>
    </tr>
    <tr>
      <td>Collapse</td>
      <td>Collapse</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Datepicker</td>
      <td>ng-bootstrap additional component</td>
    </tr>
    <tr>
      <td>Dropdowns</td>
      <td>Dropdown</td>
      <td></td>
    </tr>
    <tr>
      <td>Forms</td>
      <td></td>
      <td>--- test ---</td>
    </tr>
    <tr>
      <td>Input group</td>
      <td></td>
      <td>--- test ---</td>
    </tr>
    <tr>
      <td>Jumbotron</td>
      <td></td>
      <td>Pure CSS and are available in Angular</td>
    </tr>
    <tr>
      <td>List group</td>
      <td></td>
      <td>--- test ---</td>
    </tr>
    <tr>
      <td>Modal</td>
      <td>Modal</td>
      <td></td>
    </tr>
    <tr>
      <td>Navs</td>
      <td></td>
      <td>--- test ---</td>
    </tr>
    <tr>
      <td>Navbar</td>
      <td></td>
      <td>--- test ---</td>
    </tr>
    <tr>
      <td>Pagination</td>
      <td>Pagination</td>
      <td></td>
    </tr>
    <tr>
      <td>Popovers</td>
      <td>Popover</td>
      <td></td>
    </tr>
    <tr>
      <td>Progress</td>
      <td>Progressbar</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Rating</td>
      <td>ng-bootstrap additional component</td>
    </tr>
    <tr>
      <td>Scrollspy</td>
      <td></td>
      <td>--- find equivalent ---</td>
    </tr>
    <tr>
      <td></td>
      <td>Tabs</td>
      <td>Part of Bootstrap Nav component</td>
    </tr>
    <tr>
      <td></td>
      <td>Timepicker</td>
      <td>ng-bootstrap additional component</td>
    </tr>
    <tr>
      <td>Tooltips</td>
      <td>Tooltip</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Typeahead</td>
      <td>ng-bootstrap additional component</td>
    </tr>
  </tbody>
</table>

<hr>

<h2>Badges</h2>
<h6>Example heading <span class="badge badge-secondary">New</span></h6>
<button type="button" class="btn btn-primary">
  Notifications <span class="badge badge-light">4</span>
</button>
<div class="">
  <span class="badge badge-primary">Primary</span>
  <span class="badge badge-secondary">Secondary</span>
  <span class="badge badge-success">Success</span>
  <span class="badge badge-danger">Danger</span>
  <span class="badge badge-warning">Warning</span>
  <span class="badge badge-info">Info</span>
  <span class="badge badge-light">Light</span>
  <span class="badge badge-dark">Dark</span>
</div>

<h2>Breadcrumbs</h2>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
